export(generalized_mean)
export(geometric_mean)
export(arithmetic_mean)
export(harmonic_mean)
export(generalized_logmean)
export(logmean)
export(change_weights)
export(geometric_to_arithmetic)
export(harmonic_to_arithmetic)
export(arithmetic_to_geometric)
export(harmonic_to_geometric)
export(index_weights)
