export(generalized_mean, arithmetic_mean, geometric_mean, harmonic_mean, nested_mean, fisher_mean,
       extended_mean, generalized_logmean, logmean,
       lehmer_mean, contraharmonic_mean,
       transmute_weights, factor_weights, update_weights, scale_weights,
       contributions, arithmetic_contributions, geometric_contributions, harmonic_contributions, nested_contributions, nested_contributions2,
       index_weights,
       index_arithmetic, index_geometric, index_harmonic,
       index_laspeyres, index_paasche, index_jevons, index_lowe, index_young,
       index_fisher, index_hlp, index_lm, index_cswd, index_cswdb, index_bw, index_stuval, index_ag,
       quantity_index,
       back_price, base_price,
       fixed_cutoff, robust_z, quantile_method, resistant_fences, tukey_algorithm)

importFrom(stats, quantile, mad, median)