export(generalized_mean, arithmetic_mean, geometric_mean, harmonic_mean, 
       nested_mean, fisher_mean,
       extended_mean, generalized_logmean, logmean,
       lehmer_mean, contraharmonic_mean,
       transmute_weights, factor_weights, update_weights, scale_weights,
       contributions, arithmetic_contributions, geometric_contributions, harmonic_contributions, 
       nested_contributions, nested_contributions2, fisher_contributions, fisher_contributions2,
       index_weights,
       arithmetic_index, geometric_index, harmonic_index,
       laspeyres_index, paasche_index, jevons_index, lowe_index, young_index,
       fisher_index, hlp_index, lm_index, cswd_index, cswdb_index, bw_index, 
       stuvel_index, arithmetic_agmean_index, geometric_agmean_index, lehr_index,
       quantity_index, grouped, balanced,
       back_price, base_price, back_period, base_period,
       fixed_cutoff, robust_z, quartile_method, resistant_fences, tukey_algorithm, hb_transform,
       geks, fisher_geks, tornqvist_geks)

importFrom(stats, quantile, mad, median, complete.cases)
importFrom(utils, globalVariables)